<section class="no-break experiences section">
    <h2 class="section__header">Experience</h2>
    
    {{ range .Site.Data.resume.experience }}
        <section class="subsection no-break">
            <header>
                <h3 class="subsection__header">
                    {{ if .url }}
                    <a href="{{ .url }}">
                        {{ .name }}
                        <span class="print-hide">↗</span>
                    </a>
                    {{ else }}
                        {{ .name }}
                    {{ end }}
                </h3>
                <p class="subsection__title">
                    {{ .title }}
                </p>
                <p class="subsection__details">
                    {{ .dates }} | {{ .location }}
                </p>
            </header>
            <ul class="subsection__bullets">
                {{ range .bullets }}
                <li class="subsection__bullet">
                    {{ . }}
                </li>
                {{ end }}
            </ul>
        </section>
    {{ end }}
</section>
