*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-size: 1.6rem;
    font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
    letter-spacing: -0.011em;
    color: #313a3d;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    line-height: 1.6;
}

#toggle-dark {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    width: 2rem;
    height: 2rem;
    display: inline;

    margin-left: 1rem;
    vertical-align: sub;
}

.dark-mode #moon {
    display: none;
}

/* #sun, #moon { */
/*     margin-bottom: -2px; */
/* } */

#moon:hover {
    stroke: #65658e;
}

#sun {
    display: none;
}

#sun:hover {
    stroke: #ff9;
}

.dark-mode #sun {
    display: block;
}

.banner {
    margin: 3rem 0;
}

.banner a {
    color: #313a3d;
    text-decoration: none;
}

.banner a:hover {
    text-decoration: underline;
}

.banner h2 {
    display: inline;
    font-size: 21px;
    font-size: 2.5rem;
    margin: 0 8px 0 0;
}

.banner nav {
    display: inline-block;
}

.banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

.banner nav ul li {
    display: inline;
    margin: 0 3px;
}

.banner nav ul li a {
    color: #454545;
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.15;
}

main#content h3 {
    font-size: 19px;
    font-size: 1.9rem;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: #394548;
    margin: 16px 0;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #d8d8d8;
}

/* index.html styles */
main#content ul#posts,
main#content ul#projects {
    list-style-type: none;
    font-size: 16px;
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #767676;
    margin-left: 10px;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 23px;
    font-size: 2.3rem;
    line-height: 1.15;
    margin-bottom: 1rem;
}

main#content header#post-header div {
    /* display: block; */
    font-size: 0.85em;
    color: #767676;
    margin-bottom: 2rem;
}

@media (min-width: 80rem) {
    main#content #toc-inline {
        display: none;
    }
}

@media (max-width: 80rem) {
    main#content #toc {
        display: none;
    }
}

main#content #toc-inline {
    margin: 2rem 0;
}

main#content #toc-inline ul {
    /* list-style-type: none; */
    margin-left: 0px;
    padding-left: 3rem;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 110%;
    padding: 1rem 1.5rem;

    float: left;
    position: sticky;
    top: 7rem;
    margin-left: -25rem;
    margin-top: -4rem;
    width: 20rem;
    font-size: 90%;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0 0 1rem 0;
}

main#content #toc nav#TableOfContents {
    margin-top: .25rem;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -5rem;
}

main#content #toc li ul, main#content #toc li ol {
    font-size: 0.98em;
    margin: .5rem 0 0 1rem;
    padding: 0;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ul li {
    margin-bottom: 1rem;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content img {
    max-width: 100%;
    margin: 0 auto;
}

main#content figure {
    margin: 16px 0;
}

main#content figure img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

main#content figure figcaption {
    font-size: 0.92em;
    font-style: italic;
    line-height: 22px;
    text-align: center;
    margin-top: 6px;
    padding: 0 10px;
}

main#content figure figcaption h4 {
    font-style: normal;
    display: inline;
    margin: 0;
}

main#content figure figcaption p {
    display: inline;
    margin: 0;
    padding-left: 8px;
}

main#content blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

main#content code,
main#content pre {
    font-family: 'Menlo', monospace;
}

main#content code {
    font-size: 0.96em;
    padding: 0 5px;
}

main#content pre {
    display: block;
    overflow-x: auto;
    font-size: 14px;
    font-size: 1.4rem;
    white-space: pre;
    /* margin: 20px 0; */
    padding: 1.5rem 1.5rem;
    line-height: 1.4;
}

main#content pre code {
    padding: 0;
}

main#content section.footnotes {
    font-size: 0.9em;
}

footer#footer {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #949494;
    margin: 40px 0;
}

.tag {
    margin-left: .5em;
    display: inline;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.haiku {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    inline-size: 100%;

    font-variant-numeric: tabular-nums;
}

table th {
    font-weight: bold;
    text-align: start;
}

table th,
table td {
    padding-block: 1.5rem;
    padding-inline: 1rem;
    border-block-end: 1px solid black;
}
