/*
 * Message bubbles
 *
 * Shortcode defined in layouts/shortcodes/message.html
 */

:root {
    --message-blue: #0b93f6;
    --message-gray: #c0c0c5;
}

.message-wrapper {
    max-width: 60%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
}

.message {
    word-wrap: break-word;
    border-radius: 1.5em;
    padding: .5em 1.2em;
    margin-bottom: 1em;
    line-height: 1.4em;
    display: inline-block;
    max-width: 255px;
    position: relative;
    border: 1px solid;
}

.message.mine {
    border-color: var(--message-blue);
    color: var(--message-blue);
    align-self: flex-end;
}

.message.mine::before {
    content: '';
    position: absolute;
    right: -7px;
    bottom: -2px;
    width: 19px;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid var(--message-blue);
    border-left: 1px solid white;
    border-bottom-left-radius: 17px;
}

.dark-mode .message.mine::before {
    background-color: #121212;
    border-left-color: #121212;
}

.message.mine::after {
    content: '';
    position: absolute;
    right: -7px;
    bottom: -2px;
    width: 7px;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid var(--message-blue);
    border-left: 1px solid var(--message-blue);
    border-bottom-left-radius: 17px;
}

.dark-mode .message.mine::after {
    background-color: #121212;
}

.message.yours {
    border-color: var(--message-gray);
    color: black;
    align-self: flex-start;
}

.dark-mode .message.yours {
    color: white;
}

.message.yours::before {
    content: '';
    position: absolute;
    left: -7px;
    bottom: -2px;
    width: 19px;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid var(--message-gray);
    border-right: 1px solid white;
    border-bottom-right-radius: 15px;
}

.dark-mode .message.yours::before {
    background-color: #121212;
    border-right-color: #121212;
}

.message.yours::after {
    content: '';
    position: absolute;
    left: -7px;
    bottom: -2px;
    width: 7px;
    height: 50%;
    background-color: white;
    border-bottom: 1px solid var(--message-gray);
    border-right: 1px solid var(--message-gray);
    border-bottom-right-radius: 15px;
}

.dark-mode .message.yours::after {
    background-color: #121212;
}

.read {
    font-size: .9em;
    font-weight: 600;
    color: #888;
    text-align: right;
    margin-top: -1em;
}
